.container {
  display: flex;
  flex-direction: column;
  margin: 2em 0 1em;
}

.p {
  color: #eee;
  margin: 0;
  padding: 0;
  min-height: 1.5rem;
}

.copyButton {
  font-family: "Public Sans", sans-serif;
  background-color: #ffffff73;
  padding: 0.75em;
  box-sizing: border-box;
  border: none;
  margin: 0.5em 0;
  font-size: 1.1em;
  outline: none;
  box-shadow: 0 1.875rem 2.5rem rgba(240, 101, 126, 0.05);
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.copyButton::before {
  content: "";
  position: absolute;
  z-index: -5;
  top: 0;
  right: 100%;
  bottom: 0;
  left: 0;
  background-color: rgb(226, 206, 206);
  opacity: 0;
  transition-duration: 600ms !important;
  transition-property: opacity, right !important;
  border-radius: 0.5rem;
}

.copyButton:hover::before {
  right: 0;
  opacity: 1;
}
