.inputContainer {
  display: flex;
  position: relative;
  z-index: 0;
}

.inputContainer input {
  z-index: 5;
  padding-left: 4em;
}
.icon {
  position: absolute;
  width: 2.5rem;
  top: 0;
  bottom: 0;
  margin: auto 0;
  left: 0.5rem;
  z-index: 10;
  opacity: 0.5;
  background-color: transparent;
  border: none;
}

.icon:hover {
  opacity: 0.3;
}

.label {
  color: #fff;
  margin: 0;
}
